@import 'https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap';

:root {
  --font-family-primary: 'Roboto', sans-serif;

  // line heights
  --line-height-s: 16px;
  --line-height-m: 24px;
  --line-height-l: 36px;

  // font sizes
  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.625rem;

  // font weights
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

@mixin typography($fontSize, $lineHeight, $fontWeight) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}

.ui-typography-h1 {
  @include typography(var(--font-size-xxl), var(--line-height-l), var(--font-weight-bold));
}

.ui-typography-h2 {
  @include typography(var(--font-size-xl), var(--line-height-l), var(--font-weight-bold));
}

.ui-typography-h3 {
  @include typography(var(--font-size-l), var(--line-height-m), var(--font-weight-bold));
}

.ui-typography-h4 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-bold));
}

.ui-typography-body1 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-regular));
}

.ui-typography-subtitle1 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-bold));
}

.ui-typography-body2 {
  @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-regular));
}

.ui-typography-subtitle2 {
  @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-bold));
}

.ui-typography-caption {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-regular));
}

.ui-typography-overline {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-bold));
}

.ui-typography-linkForm {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-bold));

  color: var(--color-accent-500);
  text-decoration: underline;
  transition: color 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      color: var(--color-accent-700);
    }
  }
}

.ui-typography-link1 {
  @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-regular));

  color: var(--color-info-500);
  text-decoration: underline;
}

.ui-typography-link2 {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-regular));

  color: var(--color-info-500);
  text-decoration: underline;
}

.ui-typography-error {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-regular));

  color: var(--color-danger-300);
}
