.button {
  all: unset;

  cursor: pointer;

  display: flex;
  flex-direction: row;
  column-gap: 4px;
  align-items: center;

  box-sizing: border-box;
  padding: 6px 28px;

  font-family: inherit;
  color: inherit;

  border-radius: 4px;

  transition: all 0.3s;

  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }
}

.primary {
  background-color: var(--color-accent-500);

  &:active {
    background-color: var(--color-accent-700);
  }

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:focus {
    background-color: var(--color-accent-500);
    border: 2px solid var(--color-info-700);
  }

  &:disabled {
    cursor: default;
    color: var(--color-light-900);
    background-color: var(--color-accent-900);

    img {
      opacity: 0.5;
      filter: grayscale(100%);
    }
  }
}

.secondary {
  background-color: var(--color-dark-300);

  &:active {
    background-color: var(--color-dark-500);
  }

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:focus {
    background-color: var(--color-dark-300);
    border: 2px solid var(--color-info-700);
  }

  &:disabled {
    cursor: default;
    color: var(--color-light-900);
    background-color: var(--color-dark-300);

    img {
      opacity: 0.5;
      filter: grayscale(100%);
    }
  }
}

.fullWidth {
  width: 100%;
}
