/* stylelint-disable scss/dollar-variable-pattern */
// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: var(--font-family-primary);
$fontSize: var(--font-size-m); // где 14(px) - размер шрифта по умолчанию с макета

// Основные цвета
$mainColor: var(--color-light-100); // Цвет шрифта по умолчанию

// Настройка адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;

// Ширина полотна (макета)
$maxWidth: 1280;

// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1008;

// Общее отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивый (у контейнера нет брейкпоинтов),
// 2 = по брейк-пойнтам (контейнер изменяет свою ширину по брейк-пойнту)
$responsiveType: 1;
